// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import "tyvariables.scss";

@font-face {
    font-family: 'Web Rupee';
    src: url('http://d29z0kpkvoln4z.cloudfront.net/css/v2/fonts/WebRupee.V2.0.eot');
    /* IE9 Compat Modes */
    src: url('http://d29z0kpkvoln4z.cloudfront.net/css/v2/fonts/WebRupee.V2.0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('http://d29z0kpkvoln4z.cloudfront.net/css/v2/fonts/WebRupee.V2.0.woff2') format('woff2'), /* Super Modern Browsers */
    url('http://d29z0kpkvoln4z.cloudfront.net/css/v2/fonts/WebRupee.V2.0.woff') format('woff'), /* Pretty Modern Browsers */
    url('http://d29z0kpkvoln4z.cloudfront.net/css/v2/fonts/WebRupee.V2.0.ttf') format('truetype'), /* Safari, Android, iOS */
    url('http://d29z0kpkvoln4z.cloudfront.net/css/v2/fonts/WebRupee.V2.0.svg#svgFontName') format('svg');
    /* Legacy iOS */
}


/* sprite footer common css */

.sprite-footer {
    background: $sprite-1;
}


/* UI Bootstrap styles
** ui.bootstrap.position styles */

.uib-position-measure {
    display: block !important;
    visibility: hidden !important;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.uib-position-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}


/* ui.bootstrap.datepicker styles */

.uib-datepicker .uib-title {
    width: 100%;
    text-align: center;
    outline: 0;
}

.uib-day button,
.uib-month button,
.uib-year button {
    min-width: 100%;
}

[uib-datepicker-popup-wrap] {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.uib-datepicker-popup.dropdown-menu {
    color: white;
    background-color: white;
    float: none;
    margin: 0;
    list-style: none;
    padding: 50px 0 10px 0;
    height: 100%;
    background: transparent;
    .uib-datepicker {
        padding: 0 0;
    }
}

.uib-datepicker {
    width: 100%;
    padding: 50px 15px 10px 0;
}

.uib-daypicker {
    outline: 0;
    margin: 0 auto;
    tbody {
        tr {
            td {
                padding: 3px 3px;
                button {
                    box-sizing: content-box;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    font-weight: bold;
                    border-width: 0;
                    outline: 0;
                    text-align: center;
                    padding: 0;
                    background: transparent;
                    &.btn-selected {
                        color: white;
                        background-color: $ty-color;
                    }
                }
            }
        }
    }
}

.uib-left,
.uib-right {
    @extend .fa;
    width: 100%;
    font-size: 28px;
    width: 45px;
}

.uib-left {
    @extend .fa-angle-left;
}

.uib-right {
    @extend .fa-angle-right;
}

.text-muted,
.uib-day [disabled="disabled"] {
    font-weight: normal;
    color: #e2e2e2;
}


/* Styling for top navigation bar in uib-calendar */

.uib-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: $ty-color;
    border-radius: 3px 3px 0 0;
    .uib-navigation-month {
        width: 100%;
    }
    button {
        background: transparent;
        border: none;
        height: 40px;
        outline: 0;
    }
}


/* styling for row which shows weeks */

.uib-weeks {
    th {
        padding-left: 6px;
    }
    color: $ty-color;
}

// =====================================  Common Classes =============================== //

/* Absolute Element vertical center */

.pos-elem-horizontal-center,
.pos-elem-vertical-center {
    position: absolute;
    margin: auto;
}

.pos-elem-horizontal-center {
    left: 0;
    right: 0;
}

.pos-elem-vertical-center {
    top: 0;
    bottom: 0;
}


/* Activity Icons styling */

.ty-activity-icon {
    display: inline-block;
    width: 30px;
    height: 21px;
    background-image: url('http://d29z0kpkvoln4z.cloudfront.net/img/packages/menu_icons/activity_sprite.png');
    vertical-align: middle;
    &.ty-aero-sports {
        background-position: -32px 0;
    }
    &.ty-motor-sports {
        background-position: -67px 0;
    }
    &.ty-extream-sports {
        background-position: -102px 0;
    }
    &.ty-city-walks {
        background-position: -134px 0;
    }
    &.ty-camping-trekking {
        background-position: -164px 0;
    }
    &.ty-sporting-activities {
        background-position: -194px 0;
    }
    &.ty-theme-parks {
        background-position: -224px 0;
    }
}


/* Styling for Clear selection text */

.ty-clear {
    cursor: pointer;
    color: $ty-color;
    text-align: center;
    padding: 5px 0;
}

.ty-clear:hover {
    text-decoration: underline;
}

body.ty-body-fixed {
    overflow: hidden;
    .ty-mobile-menu-icon {
        // @extend .fa-times;
        color: black;
    }
    .page-wrapper {
        overflow: hidden;
    }
    .ty-float-buttons {
        &.ty-mobile-contact {
            @include scale(0,
            0);
        }
        &.ty-mobile-filter {
            @include scale(0,
            0);
        }
        &.ty-mobile-sort {
            @include scale(0,
            0);
        }
    }
}


/* Breadcrumb */

.ty-breadcrumb {
    font-size: 12px;
}


/* Each breadcrumb category */

.ty-category {
    position: relative;
    padding-left: 12px;
    display: inline-block;
    &>div::first-letter {
        text-transform: uppercase;
    }
}

.ty-category:before {
    @extend .pos-elem-vertical-center;
    content: "→";
    left: 0;
    height: 14px;
}


/* Route Content Area */

.ty-page {
    min-height: calc(100% - 108px);
    .ty-page-content {
        width: 100%;
    }
}


/* Seperate Content with "|" */

.ty-bar-seperator {
    margin-left: 5px;
    margin-right: 5px;
}

.ty-bar-seperator:before {
    content: "|";
}


/* Remove padding start for ul elements */

.ty-ul-pad-left {
    padding-left: $ul-padding-left;
}


/* Filter and Sort Styles */

// @TODOTMP->edit_to_make_better
.ty-filter-block {
    position: relative;
    &.ty-sort-icon {
        .ty-filter {
            .ty-icon {
                @extend .fa-exchange;
                @include rotate(90deg);
            }
        }
    }
    .ty-filter {
        padding: 5px 5px;
        .ty-icon {
            @extend .fa-caret-down;
        }
        .ty-icon.up {
            @include rotate(180deg);
        }
    }
    .ty-filter-list-block {
        .ty-filter-list {
            position: relative;
            list-style: none;
            z-index: 2;
            ul {
                list-style: inherit;
                li {
                    padding: 5px 5px 5px 5px;
                }
            }
        }
    }
    &.ty-desktop {
        .ty-filter {
            position: relative;
            cursor: pointer;
            color: black;
            &.modal-open {
                color: white;
                z-index: 2;
            }
            .ty-filter-name {
                text-transform: uppercase;
            }
        }
        .ty-filter-list-block {
            position: absolute;
            top: 100%;
            &.center {
                left: 50%;
                .ty-filter-list {
                    position: relative;
                    left: -50%;
                }
            }
            &.left {
                left: 0;
            }
            &.right {
                right: 0;
            }
            &.activity-filter {
                left: 70%
            }
            &.filters-active {
                top: 170%;
            }
            .type-list {
                .ty-clear {
                    max-width: 198px;
                }
            }
        }
    }
    &.ty-mobile {
        .ty-filter {
            padding: 10px 5px;
            border-bottom: $border-1;
        }
        .ty-filter-list-block {
            .ty-filter-list {
                margin-top: 0;
                padding: 10px;
                .ty-activity-heading {
                    line-height: 20px;
                    border-bottom: $border-1;
                }
                &>li {
                    padding: 0 10px 10px;
                }
            }
            .ty-destination-input-block {
                padding-bottom: 15px;
            }
        }
    }
}

.ty-filter-list {
    .unavailable:before {
        @extend .fa;
        @extend .fa-times;
        display: inline-block;
        vertical-align: top;
        visibility: visible;
        font-size: 14px;
        width: 14px;
        height: 14px;
        color: $ty-color;
    }
}

.ty-mobile-filter {
    color: white;
    .ty-filter {
        color: black;
        background-color: $background-gray;
    }
    .ty-filter-list {
        margin: 15px 0;
        padding: 0 10px;
        li {
            list-style: none;
        }
        form {
            padding-left: 20px;
        }
    }
}


/* Overlay Styling for mobile */

.ty-mobile-overlay {
    @include transition(0.4s ease min-height);
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    background-color: $ty-transparent-bg;
    width: 100%;
    min-height: 0%;
    z-index: 1;
    &.ty-open {
        min-height: 100%;
    }
}

// @ENDTODOTMP->edit_to_make_better

/* Float element right */

.ty-align-right {
    @include clearfix();
    float: right;
    display: inline-block;
}


/* Showing number of results */

.ty-results-found {
    color: #908d8d;
}


/* Tags common styles */

.ty-tag {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-right: 3px;
    border: $border-1;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
    height: 18px;
    &.unavailable {
        color: $ty-unavailable;
    }
    label {
        cursor: pointer;
        padding: 4px 4px;
    }
}


/* Styles for tour packages */

.ty-packages {
    @include translate3d(0,
    0,
    0);
    padding-top: 8px;
    .ty-package {
        position: relative;
        margin-bottom: 12px;
        .ty-package-inner {
            @include box-shadow(0 0 5px gray);
            position: relative;
            height: 250px;
            overflow: hidden;
            background-color: gray;
            .ty-package-details {
                @include transition(0.4s ease all);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                @include box-shadow(inset 0 -180px 180px -180px black);
                .ty-package-details-inner {
                    color: white;
                    position: absolute;
                    display: inline-block;
                    width: 100%;
                    bottom: 0;
                    padding: 10px 10px;
                    h3,
                    .ty-package-info {
                        @extend .ty-stroke-outline;
                        @extend .ty-font-inherit;
                    }
                    h3 {
                        white-space: nowrap;
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                        padding-right: 80px;
                        margin: 5px 0;
                    }
                    .ty-package-price {
                        position: absolute;
                        bottom: 33px;
                        right: 10px;
                    }
                    .ty-package-info {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.ty-package-link {
    text-decoration: none;
}


/* Price related styles */

.ty-package-price {
    color: white;
    padding: 5px 10px;
    background-color: $ty-color;
}


/* Styling for buttons */

.ty-button {
    border: $border-1;
    border-radius: 3px;
    &.ty-button-orange {
        color: white;
        background-color: $ty-color;
        line-height: 30px;
    }
}


/* Async image loading element */

.ty-async-img {
    @include transition(0.6s ease opacity);
    display: inline-block;
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    &.ty-smooth-load {
        opacity: 0;
    }
}

.ty-async-img.ty-smooth-load.loaded {
    opacity: 10;
}


/* Rupee Symbol Font */

.ty-web-rupee {
    font-family: 'Web Rupee', 'Open Sans', sans-serif;
}


/* input with action buttons */

.ty-input-group {
    position: relative;
    height: 31px;
    padding: 0 0;
    input.ty-input-control {
        @extend input.ty-input-actionable;
        position: relative;
        z-index: 3;
        min-width: 100%;
        height: 100%;
        padding-right: 50px;
    }
    .ty-action-btn {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        width: 50px;
        height: inherit;
        background-color: $ty-color;
        color: white;
        border: 0;
        outline: 0;
        border-radius: 0 3px 3px 0;
    }
}


/* Add stoke line to text */

.ty-stroke-outline {
    color: white;
    text-shadow: -1px -1px 0 $text-shadow-color, 1px -1px 0 $text-shadow-color, -1px 1px 0 $text-shadow-color, 1px 1px 0 $text-shadow-color;
    .fa {
        text-shadow: none;
    }
    &.ty-font-inherit {
        .fa {
            text-shadow: inherit;
        }
    }
}


/* Mobile filter overlay trigger block */

.ty-trigger-slide {
    padding: 5px 0;
    .ty-destination-input {
        display: block;
        margin: 0 auto;
    }
}


/* Mobile filter overlay trigger input */

.ty-destination-input {
    position: relative;
    color: black;
    width: 100%;
    &:before {
        @extend .fa;
        @extend .fa-map-marker;
        margin: auto;
        position: absolute;
        top: 0;
        left: 8px;
        bottom: 0;
        color: black;
        height: 15px;
    }
    &.input-max-width {
        max-width: 300px;
    }
    &>input {
        width: inherit;
        padding: 5px 5px 5px 25px;
    }
}


/* Done button for filters */

.ty-done-button {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 10px 10px;
    color: white;
    background-color: $ty-color;
    border: 1px solid black;
    border-bottom: 0;
}

.ty-description-block {
    border: $border-1;
    background-color: white;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 20px;
    .ty-desc-title {
        color: $ty-color;
        font-weight: bold;
    }
    ul {
        padding-left: 15px;
        margin: 8px 0;
        li {
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.ty-each-desc {
    margin-bottom: 23px;
}


/* Tours details page right side blocks */

.ty-right {
    background-color: white;
    margin-top: 10px;
    border: $border-1;
    //    h4 {
    //        margin: 0 auto;
    //        padding: 15px 15px 5px;
    //        border-bottom: $border-1;
    //    }
    //    .ty-right-info {
    //        font-size: 14px;
    //        padding: 10px 15px;
    //    }
}

.ty-right-wrapper {
    @include clearfix();
    line-height: 50px;
    >* {
        line-height: 15px;
    }
    padding: 10px 15px;
    .uib-datepicker-popup.dropdown-menu {
        display: none;
    }
    .checkout-select-package,
    .journey-date-select {
        width: 100%;
        padding: 5px 5px;
    }
    /* Traveller block styling */
    .traveller-block {
        padding: 0 0 0 10px;
    }
    .traveller-select {
        padding: 7px 0;
        span {
            display: none;
            font-size: 14px;
            letter-spacing: -0.5px;
            font-weight: bold;
        }
        .traveller-select-options {
            background-color: white;
            border: $border-1;
            width: 100%;
            height: 31px;
        }
    }
    /* Checkout button */
    .checkout-book {
        width: 100%;
    }
}

.ty-right-wrapper {
    .checkout-book {
        .checkout-price {
            display: block;
        }
    }
}

.checkout-book {
    position: relative;
    .checkout-price {
        position: absolute;
        right: 5px;
        top: 0;
        color: white;
    }
}


/* Checkout Block styles */

.checkout-packages {
    position: relative;
    z-index: 2;
    .checkout-packages-list {
        padding: 10px 10px;
        .checkout-packages-eachlist {
            padding: 10px 0;
            label {
                display: inline-block;
                width: 100%;
                font-weight: bold;
            }
            .packages-list-description {
                font-size: 14px;
                padding: 10px 0 10px 35px;
            }
            .checkout-price {
                padding-left: 35px;
            }
        }
    }
    &.ty-desktop {
        .checkout-packages-list {
            position: absolute;
            top: 0;
            right: 102%;
            width: 500px;
            background-color: white;
            border: $border-1;
        }
    }
    &.ty-mobile {
        .checkout-packages-list {
            width: 100%;
        }
    }
}


/* Checkout Price */

.ty-right-wrapper {
    .checkout-price {
        display: none;
        margin-bottom: 10px;
    }
}

.checkout-price {
    color: $ty-color;
}


/* Input with Actions attached */

input.ty-input-actionable {
    border: 1px solid #f04e37;
}


/* Errors text style */

.ty-error {
    color: red;
}

// =====================================  End Common Classes =============================== //
// =================================== Unique Style classes ================================ //
.ty-page {
    .breadcrumb-links {
        color: white;
        background-color: $ty-color;
        padding: 0 15px;
        .ty-breadcrumb {
            display: inline-block
        }
    }
    // @TODOTMP->edit_to_make_better
    .filter-block {
        .filter-list {
            li {
                padding: 5px 2px;
                label {
                    display: block;
                    padding: 3px 3px;
                }
            }
        }
        &.ty-mobile {
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: 2;
            background-color: white;
            width: 100%;
            font-size: 13px;
            .ty-mobile-filter {
                @include transition(0.4s ease min-height);
                width: 100%;
                height: 0;
                min-height: 0;
                background-color: $ty-transparent-bg;
                position: fixed;
                bottom: 0;
                left: 0;
                overflow: auto;
                &.show-list {
                    padding-bottom: 40px;
                    min-height: 100%;
                }
            }
            .ty-mobile-options {
                position: relative;
                z-index: 1;
                background-color: white;
                border: $border-1;
                padding: 10px 0;
                text-align: center;
                .ty-filter {
                    padding: 0 0;
                }
            }
        }
        &.ty-desktop {
            display: none;
            border-bottom: $border-1;
            .navigate-filter {
                display: inline-block;
                font-size: 12px;
            }
            .results-sortby {
                @extend .ty-align-right;
                font-size: 12px;
                margin-top: -3px;
                .ty-results-found {}
            }
            .filter-list {
                background-color: white;
                min-width: 200px;
                min-height: 250px;
                border: $border-1;
                &.type-list {
                    position: relative;
                    width: 350px;
                    background-color: $background-gray;
                    &>li {
                        padding: 10px 10px;
                    }
                    &>li ul {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 150px;
                        height: 100%;
                        background-color: white;
                        li {
                            display: none;
                        }
                    }
                    &>li:hover ul {
                        z-index: 1;
                        li {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    // @ENDTODOTMP->edit_to_make_better
    .active-filters {
        display: none;
        padding: 5px 0;
        font-size: 13px;
    }
}

// .email-or-call {
//     letter-spacing: -0.5px;
// }
.ty-details {
    .ty-right {
        &.right-checkout {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            &.rC-open {
                height: 50px;
                .checkout-collapse-btn {
                    @include rotate(180deg);
                }
            }
        }
        // .cancellation-info {
        //     list-style: none;
        //     padding: 0 15px 0;
        //     li {
        //         margin-bottom: 20px;
        //         &:last-child {
        //             margin-bottom: 0;
        //         }
        //     }
        // }
    }
}

.checkout-collapse-btn {
    @extend .fa;
    @extend .fa-chevron-down;
    position: absolute;
    top: -22px;
    right: 12px;
    z-index: 2;
    border-radius: 50%;
    background-color: white;
    border: $border-1;
    border-width: 0 1px 0 1px;
    padding: 12px 12px;
}

@media only screen and (min-width: 768px) {
    [uib-datepicker-popup-wrap] {
        right: 102%;
        width: auto;
    }
    .uib-datepicker-popup.dropdown-menu {
        height: auto;
        border: $border-1;
        border-radius: 3px;
    }
    .ty-destination-input {
        padding: 5px 5px;
    }
    .ty-filter-list {
        .unavailable {
            text-decoration: none;
        }
    }
    .ty-trigger-slide {
        display: none;
    }
    .ty-filter-block {
        display: inline-block;
    }
    .ty-mobile-overlay {
        display: none;
    }
    .ty-done-button {
        display: none;
    }
    .ty-details {
        .ty-packages {
            .ty-package {
                .ty-package-inner {
                    height: 400px;
                }
            }
        }
        .ty-details-info {
            padding-top: 10px;
        }
        .ty-right {
            &.right-checkout {
                position: relative;
                margin-top: 0;
                &.checkout-open {
                    z-index: 2;
                }
            }
        }
        .uib-datepicker-popup.dropdown-menu {
            color: black;
            background: white;
            display: block;
        }
    }
    .ty-page {
        .filter-block.ty-desktop,
        .active-filters {
            display: block;
            padding: 5px 15px;
        }
        .filter-block.ty-desktop {
            padding: 0 15px;
        }
        .breadcrumb-links {
            color: black;
            background-color: #DCDADA;
            padding: 5px 15px;
        }
    }
    .ty-packages {
        padding-top: 0;
    }
    .ty-search-page {
        .ty-packages {
            .ty-package {
                margin-bottom: 30px;
                .ty-package-inner {
                    &:hover {
                        @include box-shadow(0 0 12px gray);
                    }
                }
            }
        }
    }
    .filter-block.ty-mobile {
        display: none;
    }
    .ty-right-wrapper {
        .checkout-price {
            display: block;
        }
        .traveller-block {
            padding: 0;
            margin: 0 0 1em;
        }
        .traveller-select {
            text-align: left;
            span {
                display: inline-block;
            }
            .traveller-select-options {
                width: auto;
            }
        }
        .checkout-book {
            .checkout-price {
                display: none;
            }
        }
    }
    .checkout-collapse-btn {
        display: none;
    }
}

// =================================== End Unique Style classes ================================ //
