<div class="ty-page-content ty-details">
    <div class="breadcrumb-links">
        <ty-breadcrumb-category content="breadcrumbText"></ty-breadcrumb-category>
    </div>
    <div class="ty-details-info" ng-repeat="package in detailsData.packages">
        <div class="col-sm-8">
            <ty-package-details class="row"></ty-package-details>
            <div class="row">
                <ty-details-desc class="col-xs-12"></ty-details-desc>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-12">
                    <div class="ty-right ty-right-checkout">
                        hello
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="ty-right ty-right-help">
                        <h4>Need help?</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
